{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block estilo %}{% endblock estilo %}
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <title>D Lions</title>
</head>
<body >
  <div id="container">
    <div class="switch__container">
      <input id="switch-shadow" class="switch switch--shadow" type="checkbox"/>
      <label for="switch-shadow"></label>
    </div>
    <section class="home-content">
      {% block  %}{% endblock  %}
      <div class="title">
        <p>Olá Rodrigo</p>
      </div>
      <nav class="home-icons">

    {% block conteudo %}
    {% endblock conteudo %}
      </nav>
    </section>
  </div>
  <script src={% static 'js/scripts.js'%}></script>
</body>
</html>

