{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <title>D Lions</title>
  <script>
    function relogio(){
      var data = new Date();
      var hora = data.getHours();
      var min = data. getMinutes();
      var seg = data.getSeconds();

      if(hora <10){
        hora="0"+hora
      }

      if(min <10){
        min="0"+min
      }
      
      if(seg <10){
        seg="0"+seg
      }

      var horas = hora +":"+ min+":"+seg;
      document.getElementById("rel").value = horas;
      }
    var tempo = setInterval(relogio,1000)
  </script>
</head>
<body id="home-container">
  <section class="home-content">
    <nav class="home-icons">
      <div > <center> <input type="text" id="rel"</center></div>
      <div class="home-header-painel">
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/matricula.png' %}">
                </button>
            </form>
            <td>matrícula</td>
          </div>
          <div>
            <form role="form" action="{% url 'novo_plano' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/aula.svg' %}">
                </button>
            </form>
            <td>novo plano</td>
          </div>
          <div>
            <form role="form" action="{% url 'novo_acesso' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/aula.svg' %}">
                </button>
            </form>
            <td>criar acesso</td>
          </div>
        </div>
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'clientes' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/user.svg' %}">
                </button>
            </form>
            <td>alunos</td>
          </div>
          <div>
            <form role="form" action="{% url 'planos' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/dollar.svg' %}">
                </button>
            </form>
            <td>planos</td>
          </div>
          <div>
            <form role="form" action="{% url 'acesso' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/users.svg' %}">
                </button>
            </form>
            <td>acesso</td>
          </div>
        </div>
      </div>
      <div class="logout">
        <form role="form" action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <button>
              <img id=alunos src="{% static 'icons/logout.png' %}">
            </button>
        </form>
    </div>
    </nav>
  </section>
</body>
</html>
