{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <title>D Lions</title>
  <script>
    function relogio(){
      var data = new Date();
      var hora = data.getHours();
      var min = data. getMinutes();
      var seg = data.getSeconds();

      if(hora <10){
        hora="0"+hora
      }

      if(min <10){
        min="0"+min
      }
      
      if(seg <10){
        seg="0"+seg
      }

      var horas = hora +":"+ min+":"+seg;
      document.getElementById("rel").value = horas;
      }
    var tempo = setInterval(relogio,1000)
  </script>
</head>
<body >
  <div id="home-container">
    <div class="switch__container">
      <input id="switch-shadow" class="switch switch--shadow" type="checkbox"/>
      <label for="switch-shadow"></label>
    </div>
    <section class="home-content">
      <div class="title">
        <p>Olá Rodrigo</p>
      </div>
      <nav class="home-icons">
      <div> 
        <center> 
          <input type="text" id="rel">
        </center>
      </div>
      <div class="home-header-painel">
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/prancheta.png' %}">
                </button>
            </form>
            <td class="label">matrícula</td>
          </div>
          <div>
            <form role="form" action="{% url 'novo_plano' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/sifrao.png' %}">
                </button>
            </form>
            <td>novo plano</td>
          </div>
          <div>
            <form role="form" action="{% url 'novo_acesso' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/cracha.png' %}">
                </button>
            </form>
            <td>criar acesso</td>
          </div>
        </div>
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'clientes' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/pessoas.png' %}">
                </button>
            </form>
            <td>alunos</td>
          </div>
          <div>
            <form role="form" action="{% url 'planos' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img style="width: 90%;" id=alunos src="{% static 'icons/peso.png' %}" >
                </button>
            </form>
            <td>planos</td>
          </div>
          <div>
            <form role="form" action="{% url 'acesso' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/digital.png' %}">
                </button>
            </form>
            <td>acesso</td>
          </div>
        </div>
      </div>
      <div class="logout">
        <form role="form" action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <button>
              <img id=alunos src="{% static 'icons/logout.png' %}">
            </button>
        </form>
    </div>
    </nav>
  </section>
  </div>
  <script src={% static 'js/scripts.js'%}></script>
</body>
</html>
